/*
* { border: 1px dotted gray; }
*/

#map {
    width: 100%;
    height: 400px;
    background-color: #cccccc;
}



#practice-times-box {
    background-color: #cccccc;

    width: 80%;
    margin: 40px auto;

    /* This is a clearfix */
    overflow: auto;
}

#practice-times-box :first-child {
    margin-top: 0;
}

#practice-times-box :last-child {
    margin-bottom: 0;
}

#practice-times-fall,
#practice-times-spring {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    padding: 20px;
    width: 50%;
}

#practice-times-fall {
    float: left;
}

#practice-times-spring {
    float: right;
}

.center {
    text-align: center;
}
