<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook OpenGraph metadata (see http://ogp.me/) -->
    <meta property="og:title"       content="Cross Country and Track Club at NC State">
    <meta property="og:type"        content="website">
    <meta property="og:url"         content="{{ site.url }}{{ page.url }}"> <!-- page.url includes a leading slash ('/') -->
    <meta property="og:image"       content="{{ site.baseurl }}/img/logo.png">
    <meta property="og:description" content="Official website for the Cross Country and Track Club at NC State University. Schedule, practice information, gallery, store, results, and more!">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107683515-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-107700170-2');
    </script>

    <!-- Custom CSS and JavaScript -->
    {% for css_file in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/{{ css_file }}">
    {% endfor %}

    {% for js_file in page.custom_js %}
        <script src="{{ site.baseurl }}/{{ js_file }}"></script>
    {% endfor %}

    <title>Club Cross Country and Track at NC State</title>
</head>
