<div id="sidebar">
    <a id="logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
    </a>

    <nav>
        <ul>
            {% for node in site.page_data %}
                {% if node.id == page.id %}
                    <li class="active"><a href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a></li>
                {% else %}
                    <li><a href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <hr>

        <div id="sidebar-icons">
            <a href="mailto:cctrack-club@ncsu.edu" target="_blank">
                <img src="{{ site.baseurl }}/img/email-icon.png" alt="Email us">
            </a>

            <a href="{{ site.facebook_page }}" target="_blank">
                <img src="{{ site.baseurl }}/img/facebook-icon.png" alt="Facebook page">
            </a>

            <a href="https://www.google.com/maps/place/35%C2%B046'56.0%22N+78%C2%B040'19.8%22W/@35.7822222,-78.6721667,18z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0" target="_blank">
                <img src="{{ site.baseurl }}/img/map-icon.png" alt="Practice location">
            </a>
        </div>
    </nav>
</div>
