<div id="sidebar">
    <a id="logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/logo.png" alt="Logo">
    </a>

    <nav>
        <ul>
            {% for node in site.page_data %}
                {% if node.id == page.id %}
                    <li class="active"><a href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a></li>
                {% else %}
                    <li><a href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <hr>

        <div id="sidebar-icons">
            <a href="mailto:{{ site.email }}" target="_blank">
                <img src="{{ site.baseurl }}/img/email-icon.png" alt="Email us">
            </a>

            <a href="https://www.facebook.com/groups/31185019441/" target="_blank">
                <img src="{{ site.baseurl }}/img/facebook-icon.png" alt="Facebook page">
            </a>

            <a href="{{ site.practice_location_url }}" target="_blank">
                <img src="{{ site.baseurl }}/img/map-icon.png" alt="Practice location">
            </a>
        </div>
    </nav>
</div>
